@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">João´s Towels</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row towels_images">
    <div class="col">
        <img src="~/css/images/towels 1.png" />
    </div>
    <div class="col">
        <img src="~/css/images/towels 2.png" />
    </div>
</div>