@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About us</h1>
<p>
    We are a company specializing in towels. We have towels of all sizes, colors, prices
    and various fabrics. Our corporate headquarters are in Brazil and currently our company
    is highly regarded because of our professional team. Our towels have
    a special fabric and that's why we were able to sell a large amount of towels per month.
</p>